*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/app
/.idea
/gradle
/build.gradle
/gradle.properties
/gradlew
/gradlew.bat
/settings.gradle
SunBleLib/build/generated/res/
SunBleLib/build/generated/source/aidl/
SunBleLib/build/generated/source/rs/
SunBleLib/build/intermediates/blame/
SunBleLib/build/intermediates/bundles/debug/aidl/
SunBleLib/build/intermediates/bundles/debug/res/
SunBleLib/build/intermediates/check-manifest/
SunBleLib/build/intermediates/incremental/mergeDebugAndroidTestResources/aapt-temp/
SunBleLib/build/intermediates/incremental/mergeDebugAndroidTestResources/merged.dir/
SunBleLib/build/intermediates/incremental/mergeDebugAndroidTestResources/stripped.dir/
SunBleLib/build/intermediates/incremental/packageDebugResources/merged.dir/
SunBleLib/build/intermediates/incremental/packageDebugResources/stripped.dir/
SunBleLib/build/intermediates/incremental/processDebugAndroidTestResources/
SunBleLib/build/intermediates/incremental/processDebugResources/
SunBleLib/build/intermediates/lint/
SunBleLib/build/intermediates/res/merged/
SunBleLib/build/intermediates/rs/
SunBleLib/build/intermediates/tmp/
app/libs/
/SunBleLib/build

/.gitignore
